# Node
node_modules/
npm-debug.*
yarn-error.log

# Expo
.expo/
dist/
web-build/
expo-env.d.ts.bak

# Native
ios/Pods/
ios/build/
ios/.xcode.env.local
android/.gradle/
android/build/
android/app/build/
android/local.properties
*.keystore
!debug.keystore

# Logs
*.log

# macOS
.DS_Store

# IDE
.vscode/
.idea/
*.swp

# Env
.env
.env.*
!.env.example

# Sentry
.sentryclirc
